# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
build/
dist/

# IDEs
.vscode/
.idea/

# System
Thumbs.db
Desktop.ini

DADOS/
